async-timeout==4.0.2
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
Deprecated==1.2.13
Flask==1.1.2
google-api-core==1.31.5
google-auth==1.35.0
googleapis-common-protos==1.56.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.1.1
opencensus==0.7.13
opencensus-context==0.1.2
opencensus-ext-azure==1.0.4
opencensus-ext-flask==0.7.3
opencensus-ext-logging==0.1.0
packaging==21.3
protobuf==3.20.1
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.8
pytz==2022.1
redis==3.5.3
requests==2.27.1
rsa==4.8
six==1.16.0
urllib3==1.26.9
Werkzeug==2.0.0
wrapt==1.14.0
zipp==3.8.0
